body{ font-family: 'Abril Fatface', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;

}
main{ display: flex;}
.half-width{
     width: 50%;
    padding-left: 20%;}
.img-width {
    width: 50%;}
.img-size{ 
    height: 200px;
     width: 200px;}   
a{  color: white;
    text-decoration: none;
    background-color:rgba(248, 25, 25, 0.945)}
a{ padding: 5px 20px;
   border-radius: 20px;
}   
h3{ text-align: center;}
.blogs{ display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap: 30px;
}
.thumnaill .img{ width: 50px;
                       height: 50px;}
.collection-position{ 
    display: flex;
    justify-content: center;
}
.footer{ 
        position:relative;
        left: 0%;
        bottom: 0%;
        width: 100%;
        background-color:rgb(21, 21, 43);
        color:white;
        text-align: center;
        padding: 10px 20px;
}
